.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .nav {
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #ECECEC;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.navigation-link {
  display: block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  padding-top: 12px;
  padding-bottom: 12px;
}

.navigation-link-black-theme {
  color: black;
}

@media screen and (min-width: 768px) {
  .navigation-link {
    margin-right: 88px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 1199px) {
  .navigation-link {
    font-size: 24px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-link {
    padding-top: 12px;
    padding-bottom: 13px;
    margin-right: 93px;
    width: 146px;
    font-size: 24px;
    line-height: 1.16;
    font-size: 26px;
    line-height: 1.19;
  }
}

.navigation-list {
  display: block;
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .navigation-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 84px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-list {
    margin-right: 305px;
  }
}

.navigation-list-item {
  display: block;
  list-style-type: none;
}

@media screen and (max-width: 767px) {
  .navigation-list-item {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation-list-link {
  display: inline-block;
  position: relative;
  font-style: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .navigation-list-link {
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list-link {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-list-link {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.navigation-list-link:hover, .navigation-list-link:focus {
  color: #2196f3;
}

.navigation-list-link::after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  left: 0;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .navigation-list-link::after {
    width: 100%;
    height: 4px;
    bottom: -8px;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list-link::after {
    bottom: -33px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-list-link::after {
    bottom: -14px;
  }
}

.navigation-list-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.navigation-list-link.current::after {
  transform: scaleX(1);
}

.navigation-list-link.current {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .header-address {
    display: block;
    margin-top: 20px;
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .header-address {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .header-address-list {
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .header-address-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.header-address-list-item {
  display: block;
  list-style-type: none;
}

.header-address-list-item:not(:last-child) {
  margin-bottom: 16px;
}

@media screen and (min-width: 767px) {
  .header-address-list-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-address-list-item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.header-contact {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  font-style: normal;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .header-contact {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact {
    padding-top: 19px;
    padding-bottom: 19px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.header-contact:hover, .header-contact:focus {
  color: #2196f3;
}

.header-contact-svg {
  margin-right: 10px;
  fill: currentColor;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.icon-cross:hover,
.icon-cross:focus,
.icon-menu:hover,
.icon-menu:focus {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding-top: 60px;
    padding-bottom: 60px;
    border-top: 1px solid #ECECEC;
    z-index: 1;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    align-items: center;
  }
}

.menu-container.is-open {
  display: block;
}

.original {
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  /* border: 1px solid red; */
}

.hero {
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #ffffff;
  background-size: 480px 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile.jpg);
}

@media screen and (min-width: 768px) {
  .hero {
    background-size: 768px 400px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    background-size: 1600px 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet@2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop@2x.jpg);
  }
}

.solution {
  display: block;
  margin: 0 auto;
}

.solution-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .solution-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.solution-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.principles {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .principles {
    padding-top: 94px;
    padding-bottom: 47px;
  }
}

.principles-list {
  display: block;
}

@media screen and (min-width: 768px) {
  .principles-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.principles-list-item {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .principles-list-item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .principles-list-item {
    width: calc((100% - 4 * 30px) / 4);
  }
}

.principles-list-item:not(:last-child) {
  margin-bottom: 30px;
}

.principles-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.principles-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #212121;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .principles-title {
    text-align: left;
  }
}

.principles-description {
  max-width: 450px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.work {
  margin-left: auto;
  margin-right: auto;
  padding-top: 47px;
  padding-bottom: 94px;
  background-color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.work-list {
  display: flex;
  list-style-type: none;
}

.work-list-item:not(:last-child) {
  margin-right: 30px;
}

.work-thumb {
  position: relative;
}

.work-thumb-description {
  position: absolute;
  width: 370px;
  padding-top: 27px;
  padding-bottom: 27px;
  left: 0;
  bottom: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.team-title {
  margin-bottom: 30px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .team-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.team-list {
  display: block;
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team-list-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team-list-item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list-item {
    width: calc((100% - 4 * 30px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .team-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team-list-item .member-photo {
  width: 100%;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.team-list-item .member-name {
  margin-bottom: 10px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-list-item .member-position {
  margin-bottom: 16px;
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-list-item .team-network {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.team-list-item .team-network-item {
  margin-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .team-list-item .team-network-item {
    margin-bottom: 30px;
  }
}

.team-list-item .team-network-item:not(:last-child) {
  margin-right: 10px;
}

.team-list-item .team-network-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-item .team-network-link:hover, .team-list-item .team-network-link:focus {
  background-color: #2196f3;
}

.team-list-item .team-network-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-network-link:hover .team-network-icon,
.team-network-link:focus .team-network-icon {
  fill: #ffffff;
}

.clients {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-title {
  margin-bottom: 30px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .clients-title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: -15px;
}

.clients-item {
  width: calc((100% - 2 * 30px) / 2);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .clients-item {
    width: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    width: calc((100% - 6 * 30px) / 6);
  }
}

.clients-list-logo {
  fill: #afb1b8;
  margin: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover .clients-list-logo,
.clients-list-link:focus .clients-list-logo {
  fill: #2196f3;
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  background-color: #ffffff;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  outline-color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .clients-list-link {
    width: 170px;
  }
}

.clients-list-link:hover, .clients-list-link:focus {
  border: 1px solid #2196f3;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
}

.box {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .box {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .box {
    flex-wrap: wrap;
    flex-wrap: nowrap;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer-box {
    margin-right: 165px;
    margin-left: 76px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-box {
    margin-right: 70px;
    margin-left: 0px;
  }
}

.footer-box-link {
  display: inline-block;
  width: 146px;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .footer-box-link {
    font-size: 26px;
    line-height: 1.19;
  }
}

.footer-box-link-white-theme {
  color: white;
}

.footer-address-item {
  list-style-type: none;
}

@media screen and (max-width: 1199px) {
  .footer-address-item:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address-item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-address-item-link {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  font-style: normal;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

.footer-email-link,
.footer-tell-link {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-network {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .footer-network {
    margin-top: 12px;
  }
}

.footer-network-text {
  font-family: Roboto;
  margin-top: 60px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer-network-text {
    margin-top: 0;
  }
}

.fotter-network-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .fotter-network-list {
    margin-bottom: 102px;
  }
}

@media screen and (min-width: 1200px) {
  .fotter-network-list {
    margin-bottom: 0px;
  }
}

.fotter-network-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-network-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-network-link:hover, .footer-network-link:focus {
  background-color: #2196f3;
}

.footer-network-link-logo {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

/* ==========FOOTER SUBSCRIPTION================ */
.footer-subscription {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .footer-subscription {
    margin-top: 12px;
    margin-left: 93px;
    margin-right: 0;
  }
}

.footer-subscription-text {
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-subscription-form {
  display: block;
}

@media screen and (min-width: 1200px) {
  .footer-subscription-form {
    display: flex;
  }
}

.footer-subscription-form-input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .footer-subscription-form-input {
    width: 450px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-subscription-form-input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.footer-subscription-form-input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscription-form-btn {
  position: relative;
  width: 200px;
  height: 52px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 62px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.footer-subscription-form-btn-icon {
  position: absolute;
  top: 13px;
  left: 148px;
  height: 24px;
  width: 24px;
  background: #2196f3;
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 500ms linear;
}

.backdrop.is-hidden {
  transition: all 500ms linear 500ms;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: transform 500ms linear 0ms;
}

.modal {
  position: relative;
  max-width: 450px;
  top: 50%;
  left: 50%;
  padding: 40px;
  background-color: #ffffff;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms linear 500ms;
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: transform 500ms linear 0ms;
}

.close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:focus, .close-btn:hover {
  fill: #2196f3;
}

/* .close-btn */
.icon-close-btn {
  width: 11px;
  height: 11px;
  border: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* ==========END OF BACKDROP============= *
  /* ==========MODAL-FORM================= */
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-text {
  margin-bottom: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .modal-form-text {
    font-size: 20px;
    line-height: 1.15;
  }
}

.modal-form-field {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 20px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-icon {
  display: block;
  position: absolute;
  left: 12px;
  width: 18px;
  height: 18px;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-icon {
  fill: #2196f3;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.modal-form-message::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-policy-text {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .modal-form-policy-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form-policy-text::before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
}

.modal-form-policy:checked + .modal-form-policy-text::before {
  background: #2196f3;
  background-image: url(../images/chek-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 2px;
  border: none;
}

.link-policy {
  color: #2196f3;
  margin-left: 3px;
}

.modal-form-btn {
  display: block;
  margin: 0 auto;
  padding-top: 200px;
  padding: 10px 32px;
  min-width: 200px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover, .modal-form-btn:focus {
  background-color: #188ce8;
}
/*# sourceMappingURL=main.css.map */