:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --accent-color-menu-buttons: #ffffff;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ========HEADER========= */

/* ========================= MAINE============================= */

/* =========FOOTER=========== */


/* ==========FOOTER SUBSCRIPTION================ */


/* ==========END FOOTER SUBSCRIPTION================ */
/* ==========PORTFOLIO===(Стили Header and footer  уже заданы выше)=============== */

/* =========BACKDROP================ */


/* ==========END-MODAL-FORM================= */
