.header {
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    
  }
  .nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    background-color: #ffffff;
    
    @media screen and (max-width: 767px) {
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #ECECEC;
    }

    @media screen and (min-width: 768px) {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

  
  .navigation-link {
    display: block;
    font-family: $secondary-font;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.03em;
    color: #2196f3;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    &-black-theme {
      color: black;
    } 
    
    @media screen and (min-width: 768px) {
      margin-right: 88px;
      padding-top: 15px;
      padding-bottom: 15px;
      
    }

    @media screen and (max-width: 1199px) {
      // padding-top: 16px;
      // padding-bottom: 16px;
      font-size: 24px;
      line-height: 1.16;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 12px;
      padding-bottom: 13px;
      margin-right: 93px;
      width: 146px;
      font-size: 24px;
      line-height: 1.16;
      font-size: 26px;
      line-height: 1.19;
    }
  }

   .navigation-list {
    display: block;
    text-align: center;
    margin-bottom: 60px;
    
    @media screen and (min-width: 768px) {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     margin-right: 84px;
     margin-bottom: 0px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 305px;
    }
         
    &-item {
      display: block;
      list-style-type: none;

      @media screen and (max-width: 767px) {
      margin-bottom: 40px;
      } 
    }
    
    &-item:not(:last-child) {
      @media screen and (min-width: 768px) {
      margin-right: 50px;
    } 
  }
}
  
  .navigation-list-link {
    display: inline-block;
    position: relative;
    font-style: $main-font;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #212121;
    transition: 250ms $time-function;
    text-decoration: none;
    
     @media screen and (max-width: 767px) {
      margin-left: auto;
      margin-right: auto;
      font-size: 18px;
      line-height: 1.16;
     } 

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.14;
     } 

    @media screen and (min-width: 1200px) {
      padding-top: 20px;
      padding-bottom: 20px;
    } 

    &:hover,
    &:focus {
    color: $accent-color;
    }

    &::after {
      display: block;
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: #2196f3;
      left: 0;
      transform: scaleX(0);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

      @media screen and (max-width: 767px) {
        width: 100%;
        height: 4px;
        bottom: -8px;
      } 

      @media screen and (min-width: 768px) {
       bottom: -33px;
    }

    @media screen and (min-width: 1200px) {
      bottom: -14px;
  }
}

      &:hover::after {
      transform: scaleX(1);
      transform-origin: left;
    }

      &.current::after {
      transform: scaleX(1);
    }
      &.current {
      color: #2196f3;
    }
  }

  .header-address {
    @media screen and (max-width: 767px) { 
    display: block;
    margin-top: 20px;
    margin: 0;
    }

    @media screen and (min-width: 1200px) { 
      display: flex;
    }
  }
 
  .header-address-list {
    @media screen and (max-width: 767px) { 
      display: block;
      text-align: center;
    }
   
    @media screen and (min-width: 1200px) {
      display: flex;
    justify-content: flex-start;
    align-items: center;
    }

    &-item {
      display: block;
      list-style-type: none;
      
      &:not(:last-child) {
      margin-bottom: 16px;
      } 

      &:not(:last-child) {
        @media screen and (min-width: 767px) {
        margin-bottom: 10px;
      } 
      @media screen and (min-width: 1200px) {
        margin-right: 30px;
        margin-bottom: 0;
      } 
    }
  }
}
  
  .header-contact {
    display: block;
    font-family: $main-font;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
    font-style: normal;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    transition: 250ms $time-function;
   
    @media screen and (min-width: 768px) {
      // padding-top: 3px;
      // padding-bottom: 3px;
      font-size: 12px;
      line-height: 1.16;
    }

    @media screen and (min-width: 1200px) {
    padding-top: 19px;
    padding-bottom: 19px;
    font-size: 14px;
    line-height: 1.14;
    }

    &:hover,
    &:focus{
    color: $accent-color;
  }
    &-svg {
    margin-right: 10px;
    fill: currentColor;
  }
 }


// BURGER-MENU
.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    display: none;
   }
}
.menu-button .icon-cross {
  display: none;
 
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.icon-cross:hover,
.icon-cross:focus,
.icon-menu:hover,
.icon-menu:focus {
  fill: #2196f3;
}

.menu-container {
   @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding-top: 60px;
    padding-bottom: 60px;
    border-top: 1px solid #ECECEC;
 
  }

  @media screen and (min-width: 768px) {
    display: flex;
   align-items: center;
  }

  &.is-open {
    display: block;
  }
}






  
 
  